$headercolor1:#3399ff;
.region-content {
	display: flex;
	flex-wrap: wrap;
}
/*Sidebar width constraints*/
#block-views-block-article-feed-block-1{
	flex: 1 1 30%;
}
/*Featured article width constraints*/
#block-forum-content {
	flex: 1 1 70%;
	padding-left: 3%;
}
#main-content > .row{
	display: flex;
	.col-md-8 {
		flex: 1 1 80%;
	}
	.col-md-4 {
		max-width:20%;
	}
}

.node--type-video > .node-content {
    display: flex;
    flex-direction: column-reverse;
}

/*Featured article images fill space*/
@media (min-width: 600px) {
	.container {
		padding-left: 25px;
		padding-right: 25px;
	}
	.field--name-field-image{
		margin-left:0 !important;
		max-width: 100% !important;
	}
}

/*Minimize sizes of sidebar articles*/
.region-content #block-views-block-article-feed-block-1 {
	> h2.title {
		text-align: center;
		text-transform: uppercase;
		color:  #ffffff;
		background-color: $headercolor1;
		border-bottom: none;
		margin-top: 0;
		padding-bottom: 7px;
		padding-top: 7px;
	}
	h2.node__title.title {
		font-size: 16px;
		text-transform: none;
		border-bottom: none;
	}
	/*Resizes first article's thumbnail to parent container's width*/
	a.image-popup.overlayed, img.image-style-article-standard {
	    width: 100%;
	}
	.views-row {
		border-bottom: 1px solid lightgrey;
	}
	.views-row:not(:first-child){
		margin-top:25px;

		.node-content{
			display: flex;
			flex-direction: wrap;
			/*Proportion thumbnail size*/
			.teaser-image-wrapper {		
		    	flex: 1 0 30%;
			}
			/*Align header top with thumbnail top*/
			h2.node__title.title {
				margin-top:-4px;
				margin-left:10px;
			}
		}
	}
}
.region-content #block-views-block-videos-block-1 {
	> h2.title {
		text-align: center;
		text-transform: uppercase;
		color:  #ffffff;
		background-color: $headercolor1;
		border-bottom: none;
		margin-top: 0;
		margin-left: 35%;
		margin-right: 35%;
		padding-bottom: 7px;
		padding-top: 7px;
	}
}