.region-content {
	display: flex;
	flex-wrap: wrap;
}
/*Sidebar width constraints*/
#block-views-block-article-feed-block-1{
	flex: 1 1 30%;
}
/*Featured article width constraints*/
#block-forum-content {
	flex: 1 1 70%;
	padding-left: 3%;
}
#main-content > .row{
	display: flex;
	.col-md-8 {
		flex: 1 1 80%;
	}
	.col-md-4 {
		max-width:25%;
	}
}

.node--type-video > .node-content {
    display: flex;
    flex-direction: column-reverse;
}

/*Featured article images fill space*/
@media (min-width: 600px) {	
	.field--name-field-image{
		margin-left:0 !important;
		max-width: 100% !important;
	}
}

/*Minimize sizes of sidebar articles*/
#block-views-block-article-feed-block-1 .views-row:not(:first-child) .node-content{
	display: flex;
	flex-direction: wrap;
	/*Proportion thumbnail size*/
	.teaser-image-wrapper {		
    	flex: 1 0 40%;
	}
	/*Align header top with thumbnail top*/
	h2.node__title.title {
		margin-top: -4px;
	}
}
/*:not(:first-child)*/