/*Changes pertinent links blue*/
/* line 5, ../sass/components/_content.scss */
.content a {
  color: #337ab7;
}

/*Changes links that were blue back to black*/
/* line 9, ../sass/components/_content.scss */
.node-content a {
  color: black;
}

/* line 12, ../sass/components/_content.scss */
.region-content {
  display: flex;
  flex-wrap: wrap;
}

/*Sidebar width constraints*/
/* line 17, ../sass/components/_content.scss */
#block-views-block-article-feed-block-1 {
  flex: 1 1 30%;
}

/*Featured article width constraints*/
/* line 21, ../sass/components/_content.scss */
#block-forum-content {
  flex: 1 1 70%;
  padding-left: 3%;
}

/* line 25, ../sass/components/_content.scss */
#top-content + #main-content {
  padding-top: 35px;
}

/* line 28, ../sass/components/_content.scss */
#main-content > .row {
  display: flex;
}
/* line 30, ../sass/components/_content.scss */
#main-content > .row .col-md-8 {
  flex: 1 1 80%;
}
/* line 33, ../sass/components/_content.scss */
#main-content > .row .col-md-4 {
  max-width: 250px;
}

/* line 37, ../sass/components/_content.scss */
#page-intro > .container {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 41, ../sass/components/_content.scss */
.node--type-video > .node-content {
  display: flex;
  flex-direction: column-reverse;
}

/*Widens highlighted area to outer container width*/
/* line 46, ../sass/components/_content.scss */
#page-intro-inside {
  margin: 0 -20px;
}

/*Highlighted article*/
/* line 50, ../sass/components/_content.scss */
.region-page-intro div#block-views-block-highlight-block-1 {
  /*Apply flex to article*/
    /*.views-row{
    	display: flex;
	    flex-wrap: wrap;
	}*/
  /* "News >" text*/
  /*	.with-image {
  		margin-right: 0; 
  	}*/
  /*Styling article title*/
  /*Article subtitle*/
}
/* line 56, ../sass/components/_content.scss */
.region-page-intro div#block-views-block-highlight-block-1 .views-row .views-field:not(:first-child) {
  margin-right: 20px;
}
/* line 59, ../sass/components/_content.scss */
.region-page-intro div#block-views-block-highlight-block-1 .views-field-field-image {
  max-width: 60%;
}
/* line 61, ../sass/components/_content.scss */
.region-page-intro div#block-views-block-highlight-block-1 .views-field-field-image a.image-popup.overlayed {
  margin-right: 20px;
}
/* line 66, ../sass/components/_content.scss */
.region-page-intro div#block-views-block-highlight-block-1 .views-row .views-field.views-field-view-node {
  padding-top: 20px;
  margin-right: 0;
  border-top: solid 4px #024298;
}
/* line 75, ../sass/components/_content.scss */
.region-page-intro div#block-views-block-highlight-block-1 .views-field-title .field-content a {
  color: black;
  /*font-weight: 600;*/
  font-family: "arial black";
  font-size: 24px;
  text-transform: uppercase;
}
/* line 83, ../sass/components/_content.scss */
.region-page-intro div#block-views-block-highlight-block-1 .views-field-body {
  margin-top: 1%;
  margin-bottom: 1%;
}
/* line 87, ../sass/components/_content.scss */
.region-page-intro div#block-views-block-highlight-block-1 .views-field-uid {
  margin-right: 1%;
  float: left;
}
/* line 91, ../sass/components/_content.scss */
.region-page-intro div#block-views-block-highlight-block-1 span.views-label.views-label-view-node {
  margin: 0 20px;
}
/* line 94, ../sass/components/_content.scss */
.region-page-intro div#block-views-block-highlight-block-1 .views-field:not(:first-child) {
  padding-bottom: 20px;
}

/*Featured article images fill space*/
@media (min-width: 600px) {
  /* line 100, ../sass/components/_content.scss */
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  /* line 104, ../sass/components/_content.scss */
  .field--name-field-image {
    margin-left: 0 !important;
    max-width: 100% !important;
  }
}
/*Minimize sizes of sidebar articles*/
/* line 111, ../sass/components/_content.scss */
.region-content #block-views-block-article-feed-block-1 {
  order: 10;
  /*Resizes first article's thumbnail to parent container's width*/
}
/* line 113, ../sass/components/_content.scss */
.region-content #block-views-block-article-feed-block-1 > h2.title {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3399ff;
  border-bottom: none;
  margin-top: 0;
  padding-bottom: 7px;
  padding-top: 7px;
}
/* line 123, ../sass/components/_content.scss */
.region-content #block-views-block-article-feed-block-1 h2.node__title.title {
  font-size: 16px;
  text-transform: none;
  border-bottom: none;
}
/* line 129, ../sass/components/_content.scss */
.region-content #block-views-block-article-feed-block-1 a.image-popup.overlayed, .region-content #block-views-block-article-feed-block-1 img.image-style-article-standard {
  width: 100%;
}
/* line 132, ../sass/components/_content.scss */
.region-content #block-views-block-article-feed-block-1 .views-row {
  border-bottom: 1px solid lightgrey;
}
/* line 135, ../sass/components/_content.scss */
.region-content #block-views-block-article-feed-block-1 .views-row:not(:first-child) {
  margin-top: 25px;
}
/* line 138, ../sass/components/_content.scss */
.region-content #block-views-block-article-feed-block-1 .views-row:not(:first-child) .node-content {
  display: flex;
  flex-direction: wrap;
  /*Proportion thumbnail size*/
  /*Align header top with thumbnail top*/
}
/* line 142, ../sass/components/_content.scss */
.region-content #block-views-block-article-feed-block-1 .views-row:not(:first-child) .node-content .teaser-image-wrapper {
  flex: 1 0 30%;
}
/* line 146, ../sass/components/_content.scss */
.region-content #block-views-block-article-feed-block-1 .views-row:not(:first-child) .node-content h2.node__title.title {
  margin-top: -4px;
  margin-left: 10px;
}

/*Featured articles*/
/* line 154, ../sass/components/_content.scss */
.region-content #block-forum-content {
  order: 20;
  /*Apply flex to article*/
  /*Styling article title*/
  /*Article subtitle*/
}
/* line 157, ../sass/components/_content.scss */
.region-content #block-forum-content .view-frontpage .views-row {
  border-bottom: none;
}
/* line 160, ../sass/components/_content.scss */
.region-content #block-forum-content .views-row {
  display: flex;
  flex-wrap: wrap;
}
/* line 164, ../sass/components/_content.scss */
.region-content #block-forum-content .with-image {
  margin-right: 0;
}
/* line 168, ../sass/components/_content.scss */
.region-content #block-forum-content .views-field-title .field-content a {
  color: black;
  /*font-weight: 600;*/
  font-family: "arial black";
  font-size: 24px;
  text-transform: uppercase;
}
/* line 176, ../sass/components/_content.scss */
.region-content #block-forum-content .views-field-body {
  margin-top: 1%;
  margin-bottom: 1%;
}
/* line 180, ../sass/components/_content.scss */
.region-content #block-forum-content .views-field-uid {
  margin-right: 1%;
}
/* line 183, ../sass/components/_content.scss */
.region-content #block-forum-content span.views-label.views-label-view-node {
  margin: 0 20px;
}

/*Top Videos*/
/* line 188, ../sass/components/_content.scss */
.region-content #block-views-block-videos-block-1 {
  order: 30;
  /*Spacing for video teasers*/
}
/* line 190, ../sass/components/_content.scss */
.region-content #block-views-block-videos-block-1 > h2.title {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3399ff;
  border-bottom: none;
  margin-top: 0;
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 7px;
  padding-top: 7px;
}
/* line 202, ../sass/components/_content.scss */
.region-content #block-views-block-videos-block-1 h2.node__title.title {
  border-bottom: none;
}
/* line 206, ../sass/components/_content.scss */
.region-content #block-views-block-videos-block-1 .views-row.clearfix {
  display: flex;
}
/* line 209, ../sass/components/_content.scss */
.region-content #block-views-block-videos-block-1 .views-col.col-2 {
  margin-left: 5%;
}

/*More News*/
/* line 214, ../sass/components/_content.scss */
.region-content #block-views-block-more-news-block-1 {
  order: 40;
  /*Apply flex to article*/
    /*.views-row{
    	display: flex;
	    flex-wrap: wrap;
	}*/
  /*.with-image {
  	margin-right: 0; 
  }*/
  /*Styling article title*/
  /*Article subtitle*/
}
/* line 216, ../sass/components/_content.scss */
.region-content #block-views-block-more-news-block-1 > h2.title {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3399ff;
  border-bottom: none;
  margin-top: 0;
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 7px;
  padding-top: 7px;
}
/* line 236, ../sass/components/_content.scss */
.region-content #block-views-block-more-news-block-1 .view-content {
  display: flex;
  flex-direction: column;
}
/* line 240, ../sass/components/_content.scss */
.region-content #block-views-block-more-news-block-1 .views-row {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid lightgrey;
}
/* line 245, ../sass/components/_content.scss */
.region-content #block-views-block-more-news-block-1 a.image-popup.overlayed {
  margin-right: 3%;
}
/* line 249, ../sass/components/_content.scss */
.region-content #block-views-block-more-news-block-1 .views-field-title .field-content a {
  color: black;
  font-weight: 600;
  font-size: 24px;
}
/* line 255, ../sass/components/_content.scss */
.region-content #block-views-block-more-news-block-1 .views-field-body {
  margin-top: 1%;
  margin-bottom: 1%;
}
/* line 259, ../sass/components/_content.scss */
.region-content #block-views-block-more-news-block-1 .views-field-uid {
  margin-right: 1%;
  float: left;
}
/* line 263, ../sass/components/_content.scss */
.region-content #block-views-block-more-news-block-1 .views-field-last-updated {
  float: left;
}
/* line 266, ../sass/components/_content.scss */
.region-content #block-views-block-more-news-block-1 span.views-label.views-label-view-node {
  margin: 0 20px;
}

/*Sidebar ads*/
/* line 272, ../sass/components/_content.scss */
.block-views-blocksidebar-ads-block-1 .view-content .views-row:not(:first-child) {
  margin-top: 10px;
}

/*Lanscape ad (first)*/
/* line 277, ../sass/components/_content.scss */
.views-field-field-landscape-image .field-content {
  display: flex;
}

/* line 280, ../sass/components/_content.scss */
img.image-style-landscape-ad {
  margin: auto;
}

/* line 283, ../sass/components/_content.scss */
div#top-content {
  background-color: #f3f3f3;
  margin-left: -25px;
  margin-right: -25px;
  border-bottom: solid 12px #e1e1e1;
}

/*Centering Landscape Ad 2*/
/* line 290, ../sass/components/_content.scss */
div#block-views-block-landscape-ad-2-block-1 {
  order: 35;
  margin: 0 auto;
}

/*Centering Landscape Ad 3*/
/* line 296, ../sass/components/_content.scss */
div#block-views-block-landscape-ad-3-block-1-2 .field-content {
  display: flex;
}
/* line 298, ../sass/components/_content.scss */
div#block-views-block-landscape-ad-3-block-1-2 .field-content img {
  margin: auto;
}

/*==========*/
/*Responsive*/
/*==========*/
@media (max-width: 991px) {
  /* line 310, ../sass/components/_content.scss */
  #main-content .block.block-page-title-block {
    display: none;
  }
  /* line 313, ../sass/components/_content.scss */
  #main-content > .row .col-md-4 {
    max-width: 28%;
    margin-top: 0;
  }

  /* line 318, ../sass/components/_content.scss */
  .region-content {
    flex-direction: column;
  }

  /* line 321, ../sass/components/_content.scss */
  .region-content #block-views-block-article-feed-block-1 {
    order: 25;
  }
}
/* line 1, ../sass/components/_footer.scss */
#footer {
  background-color: #000;
  border-bottom: none;
  padding-top: 20px;
  padding-bottom: 0;
  /*Justify social buttons*/
}
/* line 6, ../sass/components/_footer.scss */
#footer .col-sm-6 {
  width: 100%;
}
/* line 9, ../sass/components/_footer.scss */
#footer .row {
  display: flex;
  flex-direction: column;
  width: 85%;
}
/* line 14, ../sass/components/_footer.scss */
#footer .col-sm-4 {
  width: 100%;
}
/* line 17, ../sass/components/_footer.scss */
#footer h2, #footer ul.menu li a {
  font-weight: 600;
  color: white;
}
/* line 21, ../sass/components/_footer.scss */
#footer .region.region-footer-first {
  display: flex;
  justify-content: space-between;
}
/* line 25, ../sass/components/_footer.scss */
#footer .region.region-footer-first ul.menu li a {
  margin-left: -10px;
  padding: 10px 5px 5px 10px;
}
/* line 30, ../sass/components/_footer.scss */
#footer .block-menu {
  padding: 0;
}
/* line 33, ../sass/components/_footer.scss */
#footer #block-views-block-social-buttons-block-1 {
  top: -20px;
  padding-bottom: 0;
}
/* line 36, ../sass/components/_footer.scss */
#footer #block-views-block-social-buttons-block-1 h2.title {
  margin-bottom: 10px;
}
/* line 41, ../sass/components/_footer.scss */
#footer span.a2a_kit.a2a_kit_size_32.addtoany_list {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

/* line 47, ../sass/components/_footer.scss */
#subfooter {
  color: white;
  background-color: black;
}

/* line 51, ../sass/components/_footer.scss */
#subfooter-inside {
  border-top: 1px solid #dadada;
}

/*Perfectly center Forum info block*/
/* line 55, ../sass/components/_footer.scss */
#subfooter-inside .row {
  display: flex;
}
/* line 57, ../sass/components/_footer.scss */
#subfooter-inside .row p {
  text-align: center;
}

/* line 61, ../sass/components/_footer.scss */
.col-md-4 {
  width: auto;
  margin: auto;
}

/* line 65, ../sass/components/_footer.scss */
.col-md-8 {
  flex: 0;
}

/*==========*/
/*Responsive*/
/*==========*/
@media (max-width: 768px) {
  /* line 74, ../sass/components/_footer.scss */
  #footer .row {
    width: 100%;
  }
  /* line 76, ../sass/components/_footer.scss */
  #footer .row .region.region-footer-first {
    flex-wrap: wrap;
  }
  /* line 79, ../sass/components/_footer.scss */
  #footer .row .menu--footer-column-1, #footer .row .menu--footer-column-2, #footer .row .menu--footer-column-23, #footer .row .menu--footer-column-4 {
    flex: 1 0 50%;
  }
}
/* line 1, ../sass/components/_header.scss */
#header {
  background-color: #f3f3f3;
  border-bottom: none;
  height: 55px;
  padding-top: 3px;
}

/* line 7, ../sass/components/_header.scss */
#main-navigation ul.menu li a {
  color: #000;
}

/*Widens header to match main space*/
/* line 11, ../sass/components/_header.scss */
#header .container {
  padding-left: 0;
  padding-right: 0;
}

/*Orients the header*/
/* line 16, ../sass/components/_header.scss */
.region-navigation {
  display: flex;
  /*Positions logo horizontally*/
  /*Weather block*/
}
/* line 18, ../sass/components/_header.scss */
.region-navigation #block-newnavigation {
  flex: 0 35%;
}
/* line 22, ../sass/components/_header.scss */
.region-navigation nav#block-forum-main-menu {
  background-image: url("/sites/default/files/2018-11/fls-logo_002.gif");
  background-size: 150px;
  background-repeat: no-repeat;
  width: 150px;
  margin: auto;
  /*Hides "Home" text*/
}
/* line 29, ../sass/components/_header.scss */
.region-navigation nav#block-forum-main-menu li a {
  visibility: hidden;
}
/* line 34, ../sass/components/_header.scss */
.region-navigation div#block-liveweatherblock {
  color: black;
  width: 200px;
  height: 50px;
  padding-top: 5px;
}
/* line 39, ../sass/components/_header.scss */
.region-navigation div#block-liveweatherblock .live-weather {
  display: flex;
}
/* line 41, ../sass/components/_header.scss */
.region-navigation div#block-liveweatherblock .live-weather .city {
  display: none;
}
/* line 44, ../sass/components/_header.scss */
.region-navigation div#block-liveweatherblock .live-weather .image {
  margin-top: -12px;
}
/* line 48, ../sass/components/_header.scss */
.region-navigation div#block-liveweatherblock .temperature {
  line-height: 1;
  font-size: 12px;
  padding-top: 5px;
}
/* line 54, ../sass/components/_header.scss */
.region-navigation div#block-fccchannellinks {
  flex: 0;
}

/*Replace "Home" menu with hamburger menu*/
/* line 59, ../sass/components/_header.scss */
ul#superfish-new-navigation.hamburger-test {
  /*background-image: url("/sites/default/files/2018-11/hamburger_icon.png");
  background-size: 50px;
  background-repeat: no-repeat;
  width:50px;*/
  /*a:first-child {*/
}
/* line 65, ../sass/components/_header.scss */
ul#superfish-new-navigation.hamburger-test a.is-active.sf-depth-1.menuparent {
  visibility: hidden;
  padding-left: 0px;
}
/* line 69, ../sass/components/_header.scss */
ul#superfish-new-navigation.hamburger-test a.is-active.sf-depth-1.menuparent:before {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 36px;
  position: absolute;
  visibility: visible;
}

/*Aligns menu items with hamburger button*/
/*.hamburger-test {*/
/* line 79, ../sass/components/_header.scss */
ul.sf-menu.sf-vertical li.sfHover > ul {
  left: 0;
}

/*}*/
/*==========*/
/*Responsive*/
/*==========*/
/* line 89, ../sass/components/_header.scss */
body:not(:target) .region-navigation .menu-toggle-target-show:target ~ .menu-toggle--hide {
  display: none;
}

@media (max-width: 991px) and (min-width: 768px) {
  /* line 94, ../sass/components/_header.scss */
  .region-navigation .menu-item, body:not(:target) .region-navigation .menu-item, .region-navigation .menu .menu-item a:hover {
    background-color: transparent;
  }
}
@media (max-width: 991px) {
  /* line 99, ../sass/components/_header.scss */
  .region-navigation div#block-liveweatherblock {
    display: none;
  }
}
@media (max-width: 768px) {
  /*body:not(:target) .region-navigation .menu-toggle-target-show:target ~ .menu-toggle--hide {
      display: none;
  }*/
}
