/* line 1, ../sass/components/_content.scss */
.region-content {
  display: flex;
  flex-wrap: wrap;
}

/* line 6, ../sass/components/_content.scss */
#block-views-block-article-feed-block-1 {
  flex: 0 0 30%;
}

/* line 10, ../sass/components/_content.scss */
#block-forum-content {
  flex: 0 0 70%;
  padding-left: 3%;
}

/* line 14, ../sass/components/_content.scss */
#main-content > .row {
  display: flex;
}
/* line 16, ../sass/components/_content.scss */
#main-content > .row .col-md-8 {
  flex: 0 0 80%;
}

/* line 21, ../sass/components/_content.scss */
.node--type-video > .node-content {
  display: flex;
  flex-direction: column-reverse;
}

/* line 1, ../sass/components/_footer.scss */
#footer {
  background-color: #000;
}

/* line 1, ../sass/components/_header.scss */
#header {
  background-color: #f3f3f3;
  border-bottom: none;
}

/* line 5, ../sass/components/_header.scss */
#main-navigation ul.menu li a {
  color: #000;
}
