/* line 1, ../sass/components/_content.scss */
.region-content {
  display: flex;
  flex-wrap: wrap;
}

/*Sidebar width constraints*/
/* line 6, ../sass/components/_content.scss */
#block-views-block-article-feed-block-1 {
  flex: 1 1 33.333333%;
}

/*Featured article width constraints*/
/* line 10, ../sass/components/_content.scss */
#block-forum-content {
  flex: 1 1 66.666666%;
  padding-left: 3%;
}

/* line 14, ../sass/components/_content.scss */
#main-content > .row {
  display: flex;
}
/* line 16, ../sass/components/_content.scss */
#main-content > .row .col-md-8 {
  flex: 1 1 80%;
}
/* line 19, ../sass/components/_content.scss */
#main-content > .row .col-md-4 {
  max-width: 25%;
}

/* line 24, ../sass/components/_content.scss */
.node--type-video > .node-content {
  display: flex;
  flex-direction: column-reverse;
}

/*Featured article images fill space*/
@media (min-width: 600px) {
  /* line 31, ../sass/components/_content.scss */
  .field--name-field-image {
    margin-left: 0 !important;
    max-width: 100% !important;
  }
}
/*Minimize sizes of sidebar articles*/
/* line 39, ../sass/components/_content.scss */
#block-views-block-article-feed-block-1 h2.node__title.title {
  font-size: 16px;
}
/* line 42, ../sass/components/_content.scss */
#block-views-block-article-feed-block-1 .views-row:not(:first-child) .node-content {
  display: flex;
  flex-direction: wrap;
  /*Proportion thumbnail size*/
  /*Align header top with thumbnail top*/
}
/* line 46, ../sass/components/_content.scss */
#block-views-block-article-feed-block-1 .views-row:not(:first-child) .node-content .teaser-image-wrapper {
  flex: 1 0 40%;
}
/* line 50, ../sass/components/_content.scss */
#block-views-block-article-feed-block-1 .views-row:not(:first-child) .node-content h2.node__title.title {
  margin-top: -4px;
  margin-left: 10px;
}

/*:not(:first-child)*/
/* line 1, ../sass/components/_footer.scss */
#footer {
  background-color: #000;
}

/* line 1, ../sass/components/_header.scss */
#header {
  background-color: #f3f3f3;
  border-bottom: none;
}

/* line 5, ../sass/components/_header.scss */
#main-navigation ul.menu li a {
  color: #000;
}
